@{
    ViewData["Title"] = "Home Page";
}

<div id="Main" class="section Main">
    <div id="Banner-text" class="Main Banner-text">
        <h1>Vasyl Voronin</h1>
        <p>I am .Net developer. I like backend but i know forntend too.</p>
        <a class="Main-btn" href="#Contacts">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Contacts
        </a>
    </div>
</div>
<div id="Skils" class="section Skils">
    <div class="container">
        <div href="" id="card-net" class="card">
            <div class="box">
                <div class="percent">
                    <svg>
                        <circle cx="70" cy="70" r="70"></circle>
                        <circle cx="70" cy="70" r="70"></circle>
                    </svg>
                    <div class="number">
                        <h2>80<span>%</span></h2>
                    </div>
                </div>
                <h2 class="Skill-text">.Net</h2>
            </div>
        </div>
        <div href="" id="card-front" class="card">
            <div class="box">
                <div class="percent">
                    <svg>
                        <circle cx="70" cy="70" r="70"></circle>
                        <circle cx="70" cy="70" r="70"></circle>
                    </svg>
                    <div class="number">
                        <h2>75<span>%</span></h2>
                    </div>
                </div>
                <h2 class="Skill-text">FrontEnd</h2>
            </div>
        </div>
        <div href="" id="card-db" class="card">
            <div class="box">
                <div class="percent">
                    <svg>
                        <circle cx="70" cy="70" r="70"></circle>
                        <circle cx="70" cy="70" r="70"></circle>
                    </svg>
                    <div class="number">
                        <h2>85<span>%</span></h2>
                    </div>
                </div>
                <h2 class="Skill-text">DatBase</h2>
            </div>
        </div>
    </div>
    <div id="net" class="Skills-details">
        <div class="Skills-Info">
            <span class="Name">C#</span>
            <div class="Percent">
                <div class="Progress" style="width:80%"></div>
            </div>
            <span class="Value">80%</span>
        </div>

        <div class="Skills-Info">
            <span class="Name">ASP.NET</span>
            <div class="Percent">
                <div class="Progress" style="width:70%"></div>
            </div>
            <span class="Value">70%</span>
        </div>

        <div class="Skills-Info">
            <span class="Name">Core</span>
            <div class="Percent">
                <div class="Progress" style="width:70%"></div>
            </div>
            <span class="Value">70%</span>
        </div>

        <div class="Skills-Info">
            <span class="Name">WCF</span>
            <div class="Percent">
                <div class="Progress" style="width:90%"></div>
            </div>
            <span class="Value">90%</span>
        </div>

        <div class="Skills-Info">
            <span class="Name">WebForms</span>
            <div class="Percent">
                <div class="Progress" style="width:80%"></div>
            </div>
            <span class="Value">80%</span>
        </div>
    </div>

    <div id="front"  class="Skills-details">
        <div class="Skills-Info">
            <span class="Name">HTML</span>
            <div class="Percent">
                <div class="Progress" style="width:90%"></div>
            </div>
            <span class="Value">90%</span>
        </div>

        <div class="Skills-Info">
            <span class="Name">CSS</span>
            <div class="Percent">
                <div class="Progress" style="width:85%"></div>
            </div>
            <span class="Value">85%</span>
        </div>

        <div class="Skills-Info">
            <span class="Name">JavaScript</span>
            <div class="Percent">
                <div class="Progress" style="width:65%"></div>
            </div>
            <span class="Value">65%</span>
        </div>

        <div class="Skills-Info">
            <span class="Name">jQuery</span>
            <div class="Percent">
                <div class="Progress" style="width:65%"></div>
            </div>
            <span class="Value">65%</span>
        </div>
    </div>

    <div id="database" class="Skills-details">
        <div class="Skills-Info">
            <span class="Name">SQL</span>
            <div class="Percent">
                <div class="Progress" style="width:90%"></div>
            </div>
            <span class="Value">90%</span>
        </div>

        <div class="Skills-Info">
            <span class="Name">Oracle</span>
            <div class="Percent">
                <div class="Progress" style="width:65%"></div>
            </div>
            <span class="Value">65%</span>
        </div>

        <div class="Skills-Info">
            <span class="Name">Entity Framework</span>
            <div class="Percent">
                <div class="Progress" style="width:80%"></div>
            </div>
            <span class="Value">80%</span>
        </div>
    </div>
</div>

<div id="Project" class="section Project">
    <div class="containerProject">
        <div class="box">
            <div class="imageBox">
                <img src="~/image/512px-.NET_Core_Logo.svg.png" />
            </div>
            <div class="projectDetails">
                <div class="content">
                    <h2>My First Project</h2>
                    <p>
                        It is porject is my porfolio. jdngkjnskgksdknkn
                        fndsknldnsglknsdkg
                        lkjfkdsjgkdsjgkj
                    </p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="imageBox">
                <img src="~/image/512px-.NET_Core_Logo.svg.png" />
            </div>
            <div class="projectDetails">
                <div class="content">
                    <h2>My First Project</h2>
                    <p>
                        It is porject is my porfolio. jdngkjnskgksdknkn
                        fndsknldnsglknsdkg
                        lkjfkdsjgkdsjgkj
                    </p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="imageBox">
                <img src="~/image/512px-.NET_Core_Logo.svg.png" />
            </div>
            <div class="projectDetails">
                <div class="content">
                    <h2>My First Project</h2>
                    <p>
                        It is porject is my porfolio. jdngkjnskgksdknkn
                        fndsknldnsglknsdkg
                        lkjfkdsjgkdsjgkj
                    </p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="imageBox">
                <img src="~/image/512px-.NET_Core_Logo.svg.png" />
            </div>
            <div class="projectDetails">
                <div class="content">
                    <h2>My First Project</h2>
                    <p>
                        It is porject is my porfolio. jdngkjnskgksdknkn
                        fndsknldnsglknsdkg
                        lkjfkdsjgkdsjgkj
                    </p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="imageBox">
                <img src="~/image/512px-.NET_Core_Logo.svg.png" />
            </div>
            <div class="projectDetails">
                <div class="content">
                    <h2>My First Project</h2>
                    <p>
                        It is porject is my porfolio. jdngkjnskgksdknkn
                        fndsknldnsglknsdkg
                        lkjfkdsjgkdsjgkj
                    </p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="imageBox">
                <img src="~/image/512px-.NET_Core_Logo.svg.png" />
            </div>
            <div class="projectDetails">
                <div class="content">
                    <h2>My First Project</h2>
                    <p>
                        It is porject is my porfolio. jdngkjnskgksdknkn
                        fndsknldnsglknsdkg
                        lkjfkdsjgkdsjgkj
                    </p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="imageBox">
                <img src="~/image/512px-.NET_Core_Logo.svg.png" />
            </div>
            <div class="projectDetails">
                <div class="content">
                    <h2>My First Project</h2>
                    <p>
                        It is porject is my porfolio. jdngkjnskgksdknkn
                        fndsknldnsglknsdkg
                        lkjfkdsjgkdsjgkj
                    </p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="imageBox">
                <img src="~/image/512px-.NET_Core_Logo.svg.png" />
            </div>
            <div class="projectDetails">
                <div class="content">
                    <h2>My First Project</h2>
                    <p>
                        It is porject is my porfolio. jdngkjnskgksdknkn
                        fndsknldnsglknsdkg
                        lkjfkdsjgkdsjgkj
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="Works" class="section Works"></div>
<div id="Contacts" class="section Contacts">
    <div class="containerContacts">
        <div class="boxContacts">
            <div class="iconContacts">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <h4>My Location</h4>
                <h3>Ukraine, Busk Rynok square</h3>
            </div>
        </div>
        <div class="boxContacts">
            <div class="iconContacts">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <h4>Mobile</h4>
                <h3>+380686212873</h3>
            </div>
        </div>
        <div class="boxContacts">
            <div class="iconContacts">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <h4>Email</h4>
                <h3>vasilvoronin0@gmail.com</h3>
            </div>
        </div>
        @*<div class="boxContacts">
            <div class="iconContacts">
                <i class="fa fa-git" aria-hidden="true"></i>
                <h4>GitHub</h4>
                <h4>vasilvoronin0@gmail.com</h4>
            </div>
        </div>
        <div class="boxContacts">
            <div class="iconContacts">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                <h4>FaceBook</h4>
                <h4>vasilvoronin0@gmail.com</h4>
            </div>
        </div>
        <div class="boxContacts">
            <div class="iconContacts">
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                <h4>LinkedIn</h4>
                <h4>vasilvoronin0@gmail.com</h4>
            </div>
        </div>*@
    </div>
    <div id="Banner-text" class="Banner-text">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15548.166596753805!2d24.596453544970327!3d49.968298443775275!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473ab3e5c5770f1d%3A0x6d6347c9e0fa0f6!2z0JHRg9GB0YzQuiwg0JvRjNCy0ZbQstGB0YzQutCwINC-0LHQu9Cw0YHRgtGMLCA4MDUwMA!5e0!3m2!1suk!2sua!4v1586765392444!5m2!1suk!2sua" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
</div>