@model Section

<a href="#" class="logo">VVS</a>
<ul>
    <li><a href="#Main">Main</a></li>
    <li><a href="#Skils">Skills</a></li>
    <li><a href="#Project">Project</a></li>
    <li><a href="#Works">Works</a></li>
    <li><a href="#Contacts">Contacts</a></li>
</ul>